/* Estilo general para el cuerpo del documento */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Estilo para los encabezados */
h1, h2, h3 {
  font-family: Georgia, serif;
  color: #666;
}

/* Estilo para los enlaces */
a {
  color: #0080ff;
  text-decoration: none;
  border-bottom: 1px solid #0080ff;
}

a:hover {
  color: #0059b3;
  border-bottom: 1px solid #0059b3;
}

/* Estilo para los botones */
button {
  background-color: #0080ff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0059b3;
}
